/* PC */
@media (min-width: 1024px) {
    #header .search-btn {
        display: block;
    }
} 

/* Tablet and mobile  */

@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px ;
    }

    .contact-form .form-control {
        padding: 15px;
    }
    .contact-info {
        line-height: 2;
    }

    

    #footer .socials-list a {
        margin: 0 8px;
    }
    
    
    #footer .copywrite a {
        padding: 12px 0;
        display: inline-block;
    }
    .nav li a {
        padding: 5px 12px;
    }
    
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 740px) {
    #header .search-btn {
        display: block;
    }
    
    
    #footer .socials-list {
        font-size: 48px;
        
    }
} 


/* Mobile */
@media (max-width: 739px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    .s-mt-8 {
        margin-top: 8px;
    }
    
    .nav {
        display: block;
    }

    .nav li a {
        padding: 1px 24px;
    }

    .nav > li {
        display: block;
    }

    .nav > li:first-child {
        display: inline-block;
    }
    .nav .subnav {
        position: inherit;
        background-color: #000;
    }

    .nav .subnav a {
        color: #fff;
        padding: 5px 42px;
    }

    #header {
        overflow: hidden;
    }

    

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn {
        display: none;
    }
    .contact-form {
        margin-top: 16px;
    }
    
}